
.banner{
    display: flex;
    width: auto;
    height: 500px;
    margin-bottom: 150px;
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
}

.content_banner h1{
    font-size: 45px;
    padding-top: 100px;
}
.content_banner{
    width: auto;
    height: 500px;
    
}

.banner_img{
  align-self: flex-end;
  position: relative;
  left: 7.5rem;
}

.content_banner p{
    line-height: 24px;
    margin-bottom: 40px;
    
}


a.iniciar{
    height: 100px;
    background-color: #00ffff;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    transition: .5s;
    padding: 10px;
}

a.iniciar:hover{
    background-color: #8bf1f1;
}

  
    
    
  


